<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    crossorigin="anonymous" />
  <style>
    .error-container {
      text-align: center;
    }
  </style>
  <title>404 Not Found</title>
</head>

<body class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-container">
          <h1>404 Not Found</h1>
          <div>
            Sorry, the page you requested does not exist!
          </div>
          <div class="mt-5">
            <a href="/dashboard" class="btn btn-primary btn-lg">
              <i class="fas fa-home"></i>&nbsp; Back to Dashboard
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>