<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Requests</title>
</head>
<body>
  
  <div class="container">
        <div class="col d-flex p-0">
            <div class="card">
                <div class="container" style="flex: 1 1">
                        <div class="row">
                            <div class="card  m-1">
                                <div class="card-body p-2">
                                    <span class="mx-1 float-right">Hi, Dave</span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="card m-1">
                                <div class="card-body p-2">
                                    <span class="float-right">Hello</span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="card m-1">
                                <div class="card-body p-2">
                                    <span class="mx-2">What's up?</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card  m-1">
                                <div class="card-body p-2">
                                    <span>This is an to practice traversing a linked list. Given a pointer to the head node of a linked list, print each node's element, one per line. If the head pointer is null (indicating the list is empty), there is nothing to print. </span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="card m-1">
                                <div class="card-body p-2">
                                    <span> There are two elements in the linked list. They are represented as 16 -> 13 -> NULL. So, the printLinkedList function should print 16 and 13 each on a new line.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
        </div>
    </div>
    </body>

</body>
</html>