<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="w-15">
    <a class="navbar-brand" href="/dashboard">
      <img src="/img/mail.png" width="30" height="30" alt="dashboard">
    </a>
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
  </div>
  <div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link text-light text-right">
          <%= user.name %>
        </a>
      </li>
      <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          | Log out</a>
      </li>
    </ul>
  </div>
</nav>